In [1]:
import numpy as np
import pandas as pd

In [2]:
mat=np.zeros(shape=(2001,2001))
mat

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [11]:
inputs=[0,-1,1]
col_names=list(range(2001))
len(col_names)

2001

In [12]:
data=pd.DataFrame(mat,columns=col_names)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

1

In [85]:
import random
inputs=[0,-1,1]

for i in range(len(data)):
    for j in range(len(data.columns)):
        if i!=j:            
            data[i][j]=random.randint(-1,1)
            
            
data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,0.0,1.0,1.0,-1.0,-1.0,1.0,-1.0,-1.0,1.0,1.0,...,1.0,0.0,0.0,-1.0,-1.0,-1.0,1.0,0.0,0.0,-1.0
1,0.0,0.0,-1.0,0.0,1.0,1.0,-1.0,-1.0,0.0,0.0,...,1.0,-1.0,-1.0,0.0,-1.0,1.0,-1.0,-1.0,0.0,1.0
2,0.0,0.0,0.0,1.0,1.0,-1.0,0.0,1.0,-1.0,1.0,...,1.0,0.0,1.0,0.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0
3,1.0,-1.0,-1.0,0.0,0.0,1.0,1.0,1.0,-1.0,1.0,...,1.0,0.0,1.0,0.0,1.0,1.0,-1.0,1.0,-1.0,1.0
4,-1.0,0.0,0.0,-1.0,0.0,0.0,0.0,-1.0,1.0,1.0,...,1.0,1.0,0.0,-1.0,0.0,0.0,-1.0,-1.0,-1.0,0.0

In [86]:
data.to_csv('Data_ColabLearning.csv')