In [1]:
import pandas as pd

In [3]:
raw_c = pd.read_csv("F:/Project/MatchMaking/Matchmaking Project/NewData_processing_prediction/Rawdata_withClusterLabels.csv")

In [4]:
user_details = pd.read_csv('F:/Project/MatchMaking/user_details.csv')

In [5]:
len(raw_c)

2001

In [6]:
len(user_details)

2001

In [7]:
raw_c.head()

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,...,language,new_languages,body_profile,education_level,dropped_out,bio,interests,other_interests,location_preference,cluster_labels
0,fffe3100,Edith Lopez,27,single,f,gay,socially,never,66,medicine / health,...,"english (fluently), spanish (poorly), sign lan...",interested,athletic,4,no,bottom line i love life! i work hard and i lov...,sports,instruments,same state,2
1,fffe3200,Travis Young,26,single,m,gay,socially,never,68,other,...,"english (fluently), tagalog (okay), french (po...",interested,fit,3,no,"i'm a straightforward, genuine, fun loving (i'...",painting,instruments,anywhere,0
2,fffe3300,Agnes Smith,20,seeing someone,f,bisexual,socially,sometimes,69,other,...,"english (fluently), sign language (poorly), fr...",interested,fit,2,no,mmmmm yummy tacosss. yoga is where it's at. i ...,instruments,dancing,same city,3
3,fffe3400,Salvador Klaver,27,single,m,bisexual,socially,sometimes,68,computer / hardware / software,...,english,not interested,average,3,no,i'm a stealth geek. that special mix of techni...,sketching,acting,same city,0
4,fffe3500,Elana Sewell,22,single,f,bisexual,often,sometimes,68,other,...,english,not interested,average,2,yes,with the whisper of the wind i was weaved into...,craft,designing,same city,3

In [8]:
user_details.head()

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference
0,1,Edith Lopez,27,single,f,gay,socially,never,66,medicine / health,"oakland, california",likes dogs and likes cats,no,athletic,4,no,bottom line i love life! i work hard and i lov...,sports,same state
1,2,Travis Young,26,single,m,gay,socially,never,68,other,"pleasant hill, california",likes dogs,no,fit,3,no,"i'm a straightforward, genuine, fun loving (i'...",painting,anywhere
2,3,Agnes Smith,20,seeing someone,f,bisexual,socially,sometimes,69,other,"oakland, california",has dogs and likes cats,sometimes,fit,2,no,mmmmm yummy tacosss. yoga is where it's at. i ...,instruments,same city
3,4,Salvador Klaver,27,single,m,bisexual,socially,sometimes,68,computer / hardware / software,"daly city, california",likes dogs and likes cats,no,average,3,no,i'm a stealth geek. that special mix of techni...,sketching,same city
4,5,Elana Sewell,22,single,f,bisexual,often,sometimes,68,other,"oakland, california",likes dogs and likes cats,yes,average,2,yes,with the whisper of the wind i was weaved into...,craft,same city

In [14]:
raw_c[['username','cluster_labels']]

             username  cluster_labels
0         Edith Lopez               2
1        Travis Young               0
2         Agnes Smith               3
3     Salvador Klaver               0
4        Elana Sewell               3
...               ...             ...
1996   Reynaldo Ellis               3
1997      Laura Adams               3
1998     Daniel Duran               1
1999       Robert Orr               1
2000  Mildred Harwell               3

[2001 rows x 2 columns]

In [19]:
list(user_details)

['user_id',
 'username',
 'age',
 'status',
 'sex',
 'orientation',
 'drinks',
 'drugs',
 'height',
 'job',
 'location',
 'pets',
 'smokes',
 'body_profile',
 'education_level',
 'dropped_out',
 'bio',
 'interests',
 'location_preference']

In [25]:
user_details_cluster = pd.merge(user_details, raw_c, on = [
 'username',
 'age',
 'status',
 'sex',
 'orientation',
 'drinks',
 'drugs',
 'height',
 'job',
 'location',
 'pets',
 'smokes',
 'body_profile',
 'education_level',
 'dropped_out',
 'bio',
 'interests',
 'location_preference'], how = "left")

In [27]:
user_details_cluster.head()

,user_id_x,username,age,status,sex,orientation,drinks,drugs,height,job,...,education_level,dropped_out,bio,interests,location_preference,user_id_y,language,new_languages,other_interests,cluster_labels
0,1,Edith Lopez,27,single,f,gay,socially,never,66,medicine / health,...,4,no,bottom line i love life! i work hard and i lov...,sports,same state,fffe3100,"english (fluently), spanish (poorly), sign lan...",interested,instruments,2
1,2,Travis Young,26,single,m,gay,socially,never,68,other,...,3,no,"i'm a straightforward, genuine, fun loving (i'...",painting,anywhere,fffe3200,"english (fluently), tagalog (okay), french (po...",interested,instruments,0
2,3,Agnes Smith,20,seeing someone,f,bisexual,socially,sometimes,69,other,...,2,no,mmmmm yummy tacosss. yoga is where it's at. i ...,instruments,same city,fffe3300,"english (fluently), sign language (poorly), fr...",interested,dancing,3
3,4,Salvador Klaver,27,single,m,bisexual,socially,sometimes,68,computer / hardware / software,...,3,no,i'm a stealth geek. that special mix of techni...,sketching,same city,fffe3400,english,not interested,acting,0
4,5,Elana Sewell,22,single,f,bisexual,often,sometimes,68,other,...,2,yes,with the whisper of the wind i was weaved into...,craft,same city,fffe3500,english,not interested,designing,3

In [42]:
user_details_cluster.iloc[:,-5:-1]

,user_id_y,language,new_languages,other_interests
0,fffe3100,"english (fluently), spanish (poorly), sign lan...",interested,instruments
1,fffe3200,"english (fluently), tagalog (okay), french (po...",interested,instruments
2,fffe3300,"english (fluently), sign language (poorly), fr...",interested,dancing
3,fffe3400,english,not interested,acting
4,fffe3500,english,not interested,designing
...,...,...,...,...
1996,fffe3100390039003700,english,not interested,reading
1997,fffe3100390039003800,english,not interested,acting
1998,fffe3100390039003900,english,not interested,politics
1999,fffe3200300030003000,"english (fluently), japanese (okay)",somewhat interested,cooking
2000,fffe3200300030003100,"english (fluently), spanish (okay)",somewhat interested,makeup

In [43]:
user_details_cluster.drop(user_details_cluster.iloc[:,-5:-1], inplace = True, axis = 1)

In [44]:
user_details_cluster

,user_id_x,username,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference,cluster_labels
0,1,Edith Lopez,27,single,f,gay,socially,never,66,medicine / health,"oakland, california",likes dogs and likes cats,no,athletic,4,no,bottom line i love life! i work hard and i lov...,sports,same state,2
1,2,Travis Young,26,single,m,gay,socially,never,68,other,"pleasant hill, california",likes dogs,no,fit,3,no,"i'm a straightforward, genuine, fun loving (i'...",painting,anywhere,0
2,3,Agnes Smith,20,seeing someone,f,bisexual,socially,sometimes,69,other,"oakland, california",has dogs and likes cats,sometimes,fit,2,no,mmmmm yummy tacosss. yoga is where it's at. i ...,instruments,same city,3
3,4,Salvador Klaver,27,single,m,bisexual,socially,sometimes,68,computer / hardware / software,"daly city, california",likes dogs and likes cats,no,average,3,no,i'm a stealth geek. that special mix of techni...,sketching,same city,0
4,5,Elana Sewell,22,single,f,bisexual,often,sometimes,68,other,"oakland, california",likes dogs and likes cats,yes,average,2,yes,with the whisper of the wind i was weaved into...,craft,same city,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1997,Reynaldo Ellis,24,single,m,straight,socially,never,69,student,"oakland, california",likes dogs and likes cats,yes,average,2,no,i grew up playing instruments and singing and ...,craft,same city,3
1997,1998,Laura Adams,23,single,f,gay,socially,never,68,sales / marketing / biz dev,"san francisco, california",likes dogs and likes cats,no,athletic,2,no,im a 23 yr old female born and raised in color...,makeup,same state,3
1998,1999,Daniel Duran,28,single,m,straight,rarely,never,71,sales / marketing / biz dev,"pleasant hill, california",likes dogs,no,athletic,3,no,i've spent the last 10 years working in the ou...,singing,anywhere,1
1999,2000,Robert Orr,32,seeing someone,m,straight,not at all,never,68,other,"san francisco, california",likes dogs and likes cats,no,thin,3,no,"i am that i am. more and more, my spiritual l...",music,same city,1
2000,2001,Mildred Harwell,41,single,f,straight,socially,never,67,artistic / musical / writer,"oakland, california",has dogs,no,curvy,2,no,"love travel, love food, love wine and love sat...",movies,anywhere,3

In [45]:
user_details_cluster.rename(columns = {'user_id_x':'user_id'}, inplace = True)

In [47]:
user_details_cluster.to_csv('F:/Project/MatchMaking/user_details_Labels.csv')